
ion-title {
  text-align: center

}
h1 {
  text-align: center

}
//#container {
//  text-align: center;
//
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 50%;
//  transform: translateY(-50%);
//}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container button  {
  font-size: 100px;
}
#one{
  position: relative;
  left: 150px;
  top: 100px;
}
#two{
  position: relative;
  left: 60px;
  top: 300px;
}