
ion-title {
  text-align: center

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container ion-icon  {
  font-size: 100px;
}
#up{
  position: relative;
  top: 45px;
  left: 162px;
}
#down{
  position: relative;
  top: 350px;
  left: 50px;
}
#Right{
  position: relative;
  top: 250px;
  left: 50px;
}
#Left{
  position: relative;
  top: 250px;
  left: 50px;
}
#stop{
  position: relative;
  top: 350px;
  left: 200px;
}
h2{

  position: relative;
  top: 300px;
}
h3{
  display: inline;
}