
ion-title {
  text-align: center

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container ion-icon  {
  font-size: 100px;
}
#mobile{
  position: relative;
  top: 80px;
  left: 150px;
}
#laptop{
  position: relative;
  top: 280px;
  left: 30px;
}
h2{

  position: relative;
  top: 300px;
}
h3{
  display: inline;
}